<!-- <app-filter> -->

    <h2 class="filter-col__header">Filter</h2>

    <form [formGroup]="filterForm" class="filter-col__form">
        
        <!-- Films block -->
        <mat-form-field class="filter-col__films">
            <mat-checkbox class="filter-col__checkbox" 
                    name="films"
                    ngDefaultControl
                    formControlName="films"
                    [(ngModel)]="checked">
                    lol
                </mat-checkbox>
        </mat-form-field>

    </form>

<!-- </app-filter> -->