@import 'mixins';
@import 'variables';

app-filter {
    .filter-col {
        &__or-switch {
            position: absolute;
            right: 12px;
            top: 6px;
            .mat-slide-toggle-thumb {
                @include lightsaber-effect(rgb(255, 239, 239), rgb(255, 0, 0));
            }
            &.mat-checked .mat-slide-toggle-thumb {
                background-color: rgb(255, 0, 0);
            }
            &.mat-checked .mat-slide-toggle-bar {
                background-color: rgba(255, 0, 0, 0.54);;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            padding: 8px;
            position: relative;
        }
        &__block-wr {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
        }
        &__subheader {
            color: #fff;
            font-size: 18px;
            margin: 8px 0;
        }
        &__label, &__select {
            color: #fff;
        }
        &__label {
            padding: 4px 0 4px 12px;
        }
        &__range-output {
            align-self: center;
        }
        &__slider-wr {
            margin: 0 10px 12px;
        }
        &__slider {
            width: 100%;
            padding-left: 7px;
            padding-right: 7px;
            margin-bottom: 5px;
            .p-slider {
                height: 8px;
                background: $color-transparent-white;
                border-radius: 4px;
            }
            .p-slider-range {
                @include lightsaber-effect(rgb(241, 241, 255), rgb(0, 0, 255));
            }
            .p-slider-handle {
                cursor: grab;
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                border: none;
                outline: none;
                @include lightsaber-effect(rgb(255, 239, 239), rgb(255, 0, 0));
                border-radius: 50%;
                &_equal-left {
                    transform: translate(-100%, -50%);
                }
                &_equal-right {
                    transform: translate(0, -50%);
                }
            }
        }
    }
    .mat-select-value-text {
        color: #fff;
    }
    .mat-form-field-flex{
        background-color: $color-transparent-white !important; 
    }
}