////////////////////// FILTER BTN ////////////////
.rotateRight {
    background-color: #fff !important;
    animation: rotateRight .35s ease-out 1;
}
.rotateLeft {
    background-color: #000;
    animation: rotateLeft .35s ease-out 1;
}

@keyframes rotateRight {
    from {
        opacity: .5;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(90deg);
    }
}

@keyframes rotateLeft {
    from {
        opacity: .5;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(-90deg);
    }
}