@mixin name-box {
    padding: 20px 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.87);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

// standart column params
@mixin col {
    width: 85%;
    display: inline-block;
    overflow: hidden;
    &__header {
        color: rgb(255, 255, 255);
        margin: 20px 0;
        text-align: center;
    }
    &__list, &__form {
        border: solid 1px rgba(0, 0, 0, .35);
        min-height: 57px;
        max-height: 90%;
        background: rgba(0, 0, 0, .35);
        border-radius: 4px;
        overflow: hidden;
        display: block;
        overflow: auto;
    }
}

@mixin custom-filter {
    @include col;
    color:rgb(255, 255, 255);
}

@mixin custom-board {
    @include col;
    &__box {
        @include name-box;
    }
}

@mixin lightsaber-effect($main-color, $outline-color) {
    background-color: $main-color;
    box-shadow: 0px 0px 6px $main-color,
                0px 0px 8px $main-color,
                0px 0px 5px $outline-color,
                0px 0px 15px $outline-color,
                0px 0px 25px $outline-color,
                0px 0px 35px $outline-color;
}