@import 'variables';

app-root {
    width: 100%;
    height: 100%;

    .preloader-wr {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
        transition: visibility 0.325s linear;
        display: flex;
        justify-content: center;
        align-content: center;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__progress {
            width: 500px;
            height: 208px;
            background-image: url('assets/images/droid.gif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &__text {
            animation: blink 1s linear infinite;
        }
        &.hide {
            z-index: -999;
            display: none;
            visibility: hidden;
        }
    }

    .main {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url('assets/images/sw-background-blured.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        &__sidenav-container {
            width: 100%;
            height: 100%;
            background: none;
            .mat-drawer-content {
                position: fixed;
            }
        }
        &__sidenav {
            background-color: transparent;
            border-right: none;
            width: 352px;
            position: fixed;
            padding-left: $status-bar-width;
            .mat-drawer-inner-container {
                background-color: rgba(0, 0, 0, 0.6);
                margin-left: -$status-bar-width;
                padding: 68px 34px 68px 0px;
                padding-left: calc(#{$status-bar-width} + 34px);
                width: auto;
            }
        }
        &__sidenav-content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }
}

@keyframes blink {
    0%{opacity: 0; transform: scale(.8);}
    50%{opacity: .5; transform: scale(.9);}
    100%{opacity: 1; transform: scale(1);}
}